[Desktop Entry]
Type=Application
Icon=text
MimeType=video/avi;video/mpeg;video/mp4;video/ogg;video/quicktime;video/msvideo;video/webm;video/x-matroska;video/x-mpeg;video/x-ms-wmv;video/x-msvideo;video/x-flv;application/ogg;
Categories=AudioVideo;Utility;Qt;
Name=OpenSubtitlesDownloadQt
GenericName=Automatic subtitles downloader
Comment=Download subtitles from opensubtitles.org
Exec=OpenSubtitlesDownloadQt.py "%F"
